<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello {{nom}} 's Friends!!</h1>

        <p>
          Vous êtes mes amis de ouf!!!
        </p>
    </body>
</html>
