{# src/DIC/DicoBundle/Resources/views/Advert/relations.html.twig #}

  <h1>Definition des relations</h1>
  <div class="panel panel-default">
    <table class="table">
      <thead class="thead-default">
        <tr>
        <th>Nom</th>
        <th>Definition</th>
        </tr>
      </thead>
        <tbody>
        {% for relation in relations %}
          <tr>
          <td>{{ relation.name }}</td>
          <td>{{ relation.definition }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  
