{% extends "::layout.html.twig" %}

{% block title %}
  Mots - {{ parent() }}
{% endblock %}



{% block body %}

   
          {% block dicdico_body %}
          <div class="container" style="margin:0px auto;max-width:900px;" id="results">
          </div>
          {% endblock %}
          
  {% endblock %}
